cyp/MobileWebApi/MobileWebApi.Order.Service/Service References/WcfOrderService/WcfOrderService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfOrderService_GetDealCarList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealCarList" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetDealCarList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealCarListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetCarPriceSearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarPriceSearchList" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetCarPriceSearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarPriceSearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetTradeoffMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeoffMsg" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetTradeoffMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeoffMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetUnConfirmCarList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnConfirmCarList" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetUnConfirmCarList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnConfirmCarListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetOrderCarList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCarList" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetOrderCarList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCarListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetBidHistoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBidHistoryList" />
  </wsdl:message>
  <wsdl:message name="IWcfOrderService_GetBidHistoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBidHistoryListResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfOrderService">
    <wsdl:operation name="GetDealCarList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetDealCarList" message="tns:IWcfOrderService_GetDealCarList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetDealCarListResponse" message="tns:IWcfOrderService_GetDealCarList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarPriceSearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetCarPriceSearchList" message="tns:IWcfOrderService_GetCarPriceSearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetCarPriceSearchListResponse" message="tns:IWcfOrderService_GetCarPriceSearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeoffMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetTradeoffMsg" message="tns:IWcfOrderService_GetTradeoffMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetTradeoffMsgResponse" message="tns:IWcfOrderService_GetTradeoffMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnConfirmCarList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetUnConfirmCarList" message="tns:IWcfOrderService_GetUnConfirmCarList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetUnConfirmCarListResponse" message="tns:IWcfOrderService_GetUnConfirmCarList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderCarList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetOrderCarList" message="tns:IWcfOrderService_GetOrderCarList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetOrderCarListResponse" message="tns:IWcfOrderService_GetOrderCarList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBidHistoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfOrderService/GetBidHistoryList" message="tns:IWcfOrderService_GetBidHistoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfOrderService/GetBidHistoryListResponse" message="tns:IWcfOrderService_GetBidHistoryList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfOrderService" type="tns:IWcfOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDealCarList">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetDealCarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarPriceSearchList">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetCarPriceSearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeoffMsg">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetTradeoffMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnConfirmCarList">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetUnConfirmCarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderCarList">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetOrderCarList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBidHistoryList">
      <soap:operation soapAction="http://tempuri.org/IWcfOrderService/GetBidHistoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfOrderService">
    <wsdl:port name="BasicHttpBinding_IWcfOrderService" binding="tns:BasicHttpBinding_IWcfOrderService">
      <soap:address location="http://test2.cheyipai.com/WCFService/WcfOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>