cyp/MobileWebApi/MobileWebApi.Order.Service/Service References/WcfOrderService/WcfOrderService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfWcfOrder" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderModel" nillable="true" type="tns:OrderModel" />
  <xs:complexType name="ArrayOfWcfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfOrder" nillable="true" type="tns:WcfOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfOrder" nillable="true" type="tns:ArrayOfWcfOrder" />
  <xs:complexType name="WcfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AndroidEndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AucId" type="xs:int" />
      <xs:element minOccurs="0" name="AucRootTag" type="xs:int" />
      <xs:element minOccurs="0" name="BeginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarFirstImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="CarOverTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmissionStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FanLi" type="xs:int" />
      <xs:element minOccurs="0" name="FinalOffer" type="xs:int" />
      <xs:element minOccurs="0" name="GatheringTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GearStatus" type="xs:int" />
      <xs:element minOccurs="0" name="IsSXTPaid" type="xs:int" />
      <xs:element minOccurs="0" name="LicHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="License" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NlTag" type="xs:int" />
      <xs:element minOccurs="0" name="NonlocalTag" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatus1" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearId" type="xs:int" />
      <xs:element minOccurs="0" name="SellerConfirmTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TicketWinPrice" type="xs:int" />
      <xs:element minOccurs="0" name="TotalBidCount" type="xs:int" />
      <xs:element minOccurs="0" name="TradeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIPSource" type="xs:int" />
      <xs:element minOccurs="0" name="VipLevel" type="xs:int" />
      <xs:element minOccurs="0" name="VipMoney" type="xs:int" />
      <xs:element minOccurs="0" name="Voucher" type="xs:int" />
      <xs:element minOccurs="0" name="WayTag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfOrder" nillable="true" type="tns:WcfOrder" />
  <xs:complexType name="SearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Free" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfWcfSearch" />
      <xs:element minOccurs="0" name="MsgReturn" type="xs:int" />
      <xs:element minOccurs="0" name="MsgTimes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchModel" nillable="true" type="tns:SearchModel" />
  <xs:complexType name="ArrayOfWcfSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfSearch" nillable="true" type="tns:WcfSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfSearch" nillable="true" type="tns:ArrayOfWcfSearch" />
  <xs:complexType name="WcfSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarFirstImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="Character" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmissionStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="License" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PzGear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PzPl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PzTc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TradeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WayTag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfSearch" nillable="true" type="tns:WcfSearch" />
  <xs:complexType name="BaseListModelOfWcfCarOrder_S7WUFefR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WcfCarOrder" Namespace="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataList" nillable="true" type="tns:ArrayOfWcfCarOrder" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseListModelOfWcfCarOrder_S7WUFefR" nillable="true" type="tns:BaseListModelOfWcfCarOrder_S7WUFefR" />
  <xs:complexType name="ArrayOfWcfCarOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfCarOrder" nillable="true" type="tns:WcfCarOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfCarOrder" nillable="true" type="tns:ArrayOfWcfCarOrder" />
  <xs:complexType name="WcfCarOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AucId" type="xs:int" />
      <xs:element minOccurs="0" name="AucRootTag" type="xs:int" />
      <xs:element minOccurs="0" name="CarFirstImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="EmissionStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FanLi" type="xs:int" />
      <xs:element minOccurs="0" name="FanLiNonlocal" type="xs:int" />
      <xs:element minOccurs="0" name="FinalOffer" type="xs:int" />
      <xs:element minOccurs="0" name="FinalOfferNonlocal" type="xs:int" />
      <xs:element minOccurs="0" name="IsFanli" type="xs:int" />
      <xs:element minOccurs="0" name="License" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonlocalTag" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorAct" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleTag" type="xs:int" />
      <xs:element minOccurs="0" name="SellerConfirmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TicketWinPrice" type="xs:int" />
      <xs:element minOccurs="0" name="TradeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WayTag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfCarOrder" nillable="true" type="tns:WcfCarOrder" />
</xs:schema>