cyp/MobileWebApi/MobileWebApi.UserService/Service References/LoginWcfService/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CYP.LoginService.Service.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CYP.LoginService.Service.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginReturnDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:LoginStatus" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginReturnDto" nillable="true" type="tns:LoginReturnDto" />
  <xs:simpleType name="LoginStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="PasswordError" />
      <xs:enumeration value="NoUser" />
      <xs:enumeration value="IsLocked" />
      <xs:enumeration value="UnActive" />
      <xs:enumeration value="HasLogin" />
      <xs:enumeration value="IpError" />
      <xs:enumeration value="ValidCodeError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginStatus" nillable="true" type="tns:LoginStatus" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerLevel" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DemonstrateTag" type="xs:boolean" />
      <xs:element minOccurs="0" name="Orid" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserRight" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Browser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientType" type="tns:EnumClientType" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:simpleType name="EnumClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pc">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ios">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Android">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AndroidPad" />
      <xs:enumeration value="IosPad" />
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumClientType" nillable="true" type="tns:EnumClientType" />
  <xs:simpleType name="SayHiStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="HasLogOut" />
      <xs:enumeration value="ForceQuit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SayHiStatus" nillable="true" type="tns:SayHiStatus" />
</xs:schema>