cyp/MobileWebApi/MobileWebApi.UserService/Service References/LoginWcfService/LoginWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILoginWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CYP.LoginService.Service.Dtos" />
      <xsd:import schemaLocation="http://loginservice.cheyipai.com/LoginService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginWcfService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_LoginWithClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWithClientInfo" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_LoginWithClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWithClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_GetInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_GetInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_SayHi_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHi" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_SayHi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHiResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_SayHiWithStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHiWithStatus" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_SayHiWithStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHiWithStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_IsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ILoginWcfService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginWcfService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/Login" message="tns:ILoginWcfService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/LoginResponse" message="tns:ILoginWcfService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/LoginWithClientInfo" message="tns:ILoginWcfService_LoginWithClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/LoginWithClientInfoResponse" message="tns:ILoginWcfService_LoginWithClientInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/GetInfo" message="tns:ILoginWcfService_GetInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/GetInfoResponse" message="tns:ILoginWcfService_GetInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/SayHi" message="tns:ILoginWcfService_SayHi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/SayHiResponse" message="tns:ILoginWcfService_SayHi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHiWithStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/SayHiWithStatus" message="tns:ILoginWcfService_SayHiWithStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/SayHiWithStatusResponse" message="tns:ILoginWcfService_SayHiWithStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/IsOnline" message="tns:ILoginWcfService_IsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/IsOnlineResponse" message="tns:ILoginWcfService_IsOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWcfService/Logout" message="tns:ILoginWcfService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWcfService/LogoutResponse" message="tns:ILoginWcfService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ILoginWcfService" type="tns:ILoginWcfService">
    <wsp:PolicyReference URI="#WSHttpBinding_ILoginWcfService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithClientInfo">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/LoginWithClientInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/SayHi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHiWithStatus">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/SayHiWithStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ILoginWcfService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginWcfService">
    <wsdl:port name="WSHttpBinding_ILoginWcfService" binding="tns:WSHttpBinding_ILoginWcfService">
      <soap12:address location="http://loginservice.cheyipai.com/LoginService.svc/wshttp" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://loginservice.cheyipai.com/LoginService.svc/wshttp</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>