cyp/MobileWebApi/MobileWebApi.Misc.Service/Service References/WcfTaskService/NewbieTask2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewbieTask.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewbieTask.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskInfo" nillable="true" type="tns:TaskInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskInfo" nillable="true" type="tns:ArrayOfTaskInfo" />
  <xs:complexType name="TaskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAct" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CustomerActType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DeleteTag" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinishTimes" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JumpPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" type="xs:int" />
      <xs:element minOccurs="0" name="TaskDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskRank" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TaskReward" type="xs:int" />
      <xs:element minOccurs="0" name="TaskType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="isover" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskInfo" nillable="true" type="tns:TaskInfo" />
</xs:schema>