cyp/MobileWebApi/MobileWebApi.Misc.Service/Service References/WcfMiscService/WcfMiscService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfMiscService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfMiscService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfMiscService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://test2.cheyipai.com/WCFService/WcfMiscService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CYP2014.Shd.WCF.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfMiscService_LogShare_InputMessage">
    <wsdl:part name="parameters" element="tns:LogShare" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_LogShare_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogShareResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_GetCarPositionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarPositionList" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_GetCarPositionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarPositionListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_InsertMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessage" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_InsertMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_GetMyCYPInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyCYPInfo" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_GetMyCYPInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyCYPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_UpdateHeadImg_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHeadImg" />
  </wsdl:message>
  <wsdl:message name="IWcfMiscService_UpdateHeadImg_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHeadImgResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfMiscService">
    <wsdl:operation name="LogShare">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfMiscService/LogShare" message="tns:IWcfMiscService_LogShare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfMiscService/LogShareResponse" message="tns:IWcfMiscService_LogShare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarPositionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfMiscService/GetCarPositionList" message="tns:IWcfMiscService_GetCarPositionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfMiscService/GetCarPositionListResponse" message="tns:IWcfMiscService_GetCarPositionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfMiscService/InsertMessage" message="tns:IWcfMiscService_InsertMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfMiscService/InsertMessageResponse" message="tns:IWcfMiscService_InsertMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyCYPInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfMiscService/GetMyCYPInfo" message="tns:IWcfMiscService_GetMyCYPInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfMiscService/GetMyCYPInfoResponse" message="tns:IWcfMiscService_GetMyCYPInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHeadImg">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfMiscService/UpdateHeadImg" message="tns:IWcfMiscService_UpdateHeadImg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfMiscService/UpdateHeadImgResponse" message="tns:IWcfMiscService_UpdateHeadImg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfMiscService" type="tns:IWcfMiscService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogShare">
      <soap:operation soapAction="http://tempuri.org/IWcfMiscService/LogShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarPositionList">
      <soap:operation soapAction="http://tempuri.org/IWcfMiscService/GetCarPositionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMessage">
      <soap:operation soapAction="http://tempuri.org/IWcfMiscService/InsertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyCYPInfo">
      <soap:operation soapAction="http://tempuri.org/IWcfMiscService/GetMyCYPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHeadImg">
      <soap:operation soapAction="http://tempuri.org/IWcfMiscService/UpdateHeadImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfMiscService">
    <wsdl:port name="BasicHttpBinding_IWcfMiscService" binding="tns:BasicHttpBinding_IWcfMiscService">
      <soap:address location="http://test2.cheyipai.com/WCFService/WcfMiscService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>