cyp/MobileWebApi/MobileWebApi.Misc.Service/Service References/WcfPushService/PushSer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushSer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.3:10030/PushSer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.3:10030/PushSer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushSer_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPushSer_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForPad_InputMessage">
    <wsdl:part name="parameters" element="tns:PushForPad" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForPad_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushForPadResponse" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:PushForMobile" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushForMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForPadLate_InputMessage">
    <wsdl:part name="parameters" element="tns:PushForPadLate" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForPadLate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushForPadLateResponse" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForMobileLate_InputMessage">
    <wsdl:part name="parameters" element="tns:PushForMobileLate" />
  </wsdl:message>
  <wsdl:message name="IPushSer_PushForMobileLate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushForMobileLateResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushSer">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushSer/DoWork" message="tns:IPushSer_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushSer/DoWorkResponse" message="tns:IPushSer_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushForPad">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushSer/PushForPad" message="tns:IPushSer_PushForPad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushSer/PushForPadResponse" message="tns:IPushSer_PushForPad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushForMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushSer/PushForMobile" message="tns:IPushSer_PushForMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushSer/PushForMobileResponse" message="tns:IPushSer_PushForMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushForPadLate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushSer/PushForPadLate" message="tns:IPushSer_PushForPadLate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushSer/PushForPadLateResponse" message="tns:IPushSer_PushForPadLate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushForMobileLate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushSer/PushForMobileLate" message="tns:IPushSer_PushForMobileLate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushSer/PushForMobileLateResponse" message="tns:IPushSer_PushForMobileLate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushSer" type="tns:IPushSer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPushSer/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushForPad">
      <soap:operation soapAction="http://tempuri.org/IPushSer/PushForPad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushForMobile">
      <soap:operation soapAction="http://tempuri.org/IPushSer/PushForMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushForPadLate">
      <soap:operation soapAction="http://tempuri.org/IPushSer/PushForPadLate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushForMobileLate">
      <soap:operation soapAction="http://tempuri.org/IPushSer/PushForMobileLate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushSer">
    <wsdl:port name="BasicHttpBinding_IPushSer" binding="tns:BasicHttpBinding_IPushSer">
      <soap:address location="http://192.168.100.3:10030/PushSer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>