cyp/MobileWebApi/MobileWebApi.Misc.Service/Service References/FileService/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://114.112.88.211:8091/FileService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://114.112.88.211:8091/FileService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://114.112.88.211:8091/FileService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="SavePath" element="tns:SavePath" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileExists_InputMessage">
    <wsdl:part name="parameters" element="tns:FileExists" />
  </wsdl:message>
  <wsdl:message name="IFileService_FileExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/FileExists" message="tns:IFileService_FileExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/FileExistsResponse" message="tns:IFileService_FileExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/DeleteFile" message="tns:IFileService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/DeleteFileResponse" message="tns:IFileService_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="SavePath" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FileExists">
      <soap:operation soapAction="http://tempuri.org/IFileService/FileExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://114.112.88.211:8091/FileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>